<!-- <section class="home">
    <img src="../../assets/bg1.jpeg">
    <div class="homecontent">
        <h1 style="color:yellow;">ANEESHA MS</h1>
        <h3 style="color:#fff; font-weight: 400;">Graduate</h3>
        <h6 style="color:#fff;">MEAN-Full Stack Developer</h6>
        <a href="#" class="cv btn btn-lg btn-light">Download CV</a>
        <a href="#" class="hire btn btn-lg btn-primary">Hire Me</a>
    </div>  
</section> -->

<div class="home-container">
   <div class="text_box">
       <p>I'M</p>
       <h1>ANEESHA</h1>
       <h3>MEAN-FullStack Develepor</h3>
       <div class="row">
            <a href="" id="btn1" >Explore My Protfolio</a>
            <a href="" id="btn2" >Hire Me <span> &#x2192;</span></a>
       </div>
   </div> 
   <div class="social-icons">
       <a href=""><img src="../../assets/dribble.png"></a>
       <a href=""><img src="../../assets/instagram.png"></a>
       <a href=""><img src="../../assets/telegram.png"></a>
   </div>
</div>

<section class="skill">
  
  <div class="skill-container">
    <h2 style="text-align: center; font-weight: 400;"><u>My Skills</u></h2> 
    <li style="list-style: none;">
      <h4>HTML5</h4>
      <span class="bar">
        <span class="html"></span>
      </span>
    </li>

    <li style="list-style: none;">
      <h4>CSS3</h4>
      <span class="bar">
        <span class="css"></span>
      </span>
    </li>

    <li style="list-style: none;">
      <h4>JAVASCRIPT</h4>
      <span class="bar">
        <span class="javascript"></span>
      </span>
    </li>

    <li style="list-style: none;">
      <h4>ANGULAR</h4>
      <span class="bar">
        <span class="angular"></span>
      </span>
    </li>

    <li style="list-style: none;">
      <h4>NODEJS</h4>
      <span class="bar">
        <span class="nodejs"></span>
      </span>
    </li>
  </div>
</section>



<section class="services">
    
    <div class="services-head">
        
        <p><u>My Services</u></p>
    </div>
    <div class="service-container">
        <owl-carousel-o [options]="serviceOptions">
            <ng-template carouselSlide>
                
                    <div class="card h-100">
                      <img src="../../assets/card1.jpeg" class="card-img-top" alt="...">
                      <div class="card-body">
                        <h5 class="card-title">Full Stack Developement</h5>
                        <p class="card-text">
                            There are many variations of passages of Lorem Ipsum available, but the majority 
                            have suffered alteration in some form, by injected
                        </p>
                      </div>
                    </div>
                    </ng-template>
                    <ng-template carouselSlide>
                        <div class="card h-100">
                            <img src="../../assets/card2.png" class="card-img-top" alt="...">
                            <div class="card-body">
                              <h5 class="card-title">FrontEnd Developing</h5>
                              <p class="card-text">
                                There are many variations of passages of Lorem Ipsum available, but the majority 
                                have suffered alteration in some form, by injected
                              </p>
                            </div>
                          </div>
                    </ng-template>
                    <ng-template carouselSlide>
                        <div class="card h-100">
                            <img src="../../assets/card3.jpg" class="card-img-top" alt="...">
                            <div class="card-body">
                              <h5 class="card-title">Graphic Designing</h5>
                              <p class="card-text">
                                There are many variations of passages of Lorem Ipsum available, but the majority 
                                have suffered alteration in some form, by injected
                              </p>
                            </div>
                          </div>
                    </ng-template>
                    <ng-template carouselSlide>
                        <div class="card h-100">
                            <img src="../../assets/card4.jpeg" class="card-img-top" alt="...">
                            <div class="card-body">
                              <h5 class="card-title">Full Stack Developement</h5>
                              <p class="card-text">
                                There are many variations of passages of Lorem Ipsum available, but the majority 
                                have suffered alteration in some form, by injected
                              </p>
                            </div>
                          </div>
                    </ng-template>
                    <ng-template carouselSlide>
                        <div class="card h-100">
                            <img src="../../assets/card5.jpeg" class="card-img-top" alt="...">
                            <div class="card-body">
                              <h5 class="card-title">FrontEnd Developing</h5>
                              <p class="card-text">
                                There are many variations of passages of Lorem Ipsum available, but the majority 
                                have suffered alteration in some form, by injected
                              </p>
                            </div>
                          </div>
                    </ng-template>
                    <ng-template carouselSlide>
                        <div class="card h-100">
                            <img src="../../assets/card6.jpeg" class="card-img-top" alt="...">
                            <div class="card-body">
                              <h5 class="card-title">Graphic Designing</h5>
                              <p class="card-text">
                                There are many variations of passages of Lorem Ipsum available, but the majority 
                                have suffered alteration in some form, by injected
                              </p>
                            </div>
                          </div>
                    </ng-template>
          </owl-carousel-o>
    </div>
</section>





<section class="testimony">
    
    <div class="testimony-head">
        
        <p><u>TESTIMONIALS</u></p>
    </div>
    <div class="container">
        <owl-carousel-o [options]="customOptions">
            <ng-template carouselSlide>
                <div class="testimony-img">
                    <img src="../../assets/c1.jpeg" alt="Slide1">
                </div>
                <div class="testimony-content">
                    <h2>Jhone Doe</h2>
                    <h3>Web Designer</h3>
                    <p>
                        It is a long established fact that a reader will be distracted by the 
                        readable content of a page when looking at its layout. The point of using
                        Lorem Ipsum is that it has a more-or-less normal distribution of letters, 
                        as opposed to using 'Content here, content here', making it look like readable 
                    </p>
                </div>
            </ng-template>  
            <ng-template carouselSlide>
            <div class="testimony-img">
                <img src="../../assets/c2.jpeg" alt="Slide2">
            </div>
            <div class="testimony-content">
                <h2>Gabriel</h2>
                <h3>Graphic Designer</h3>
                <p>
                    It is a long established fact that a reader will be distracted by the 
                    readable content of a page when looking at its layout. The point of using
                    Lorem Ipsum is that it has a more-or-less normal distribution of letters, 
                    as opposed to using 'Content here, content here', making it look like readable 
                </p>
            </div></ng-template>  
            <ng-template carouselSlide>
                <div class="testimony-img">
                    <img src="../../assets/c3.jpg" alt="Slide3">
                </div>
                <div class="testimony-content">
                    <h2>Maria</h2>
                    <h3>Software Engineer</h3>
                    <p>
                        It is a long established fact that a reader will be distracted by the 
                        readable content of a page when looking at its layout. The point of using
                         Lorem Ipsum is that it has a more-or-less normal distribution of letters, 
                         as opposed to using 'Content here, content here', making it look like readable 
                    </p>
                </div>
            </ng-template>  
            <ng-template carouselSlide>
                <div class="testimony-img">
                    <img src="../../assets/c4.jpeg" alt="Slide4">
                </div>
                <div class="testimony-content">
                    <h2>Andrea</h2>
                    <h3>Web Developer</h3>
                    <p>
                        It is a long established fact that a reader will be distracted by the 
                        readable content of a page when looking at its layout. The point of using
                         Lorem Ipsum is that it has a more-or-less normal distribution of letters, 
                         as opposed to using 'Content here, content here', making it look like readable 
                    </p>
                </div>
            </ng-template> 
          </owl-carousel-o>
    </div>
</section>

